<ion-header>
  <ion-toolbar color="primary">
    <ion-text slot="end">
      <ion-tab-button tab="home" routerLink="/cuenta" > 
        <h5>{{username || 'Alejandro'}}</h5>
      </ion-tab-button>
      
    </ion-text>
    <ion-icon slot="end" name="happy-outline" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [inset]="true">
  <ion-item >
  <ion-thumbnail slot="start">
    <img alt="Silhouette of mountains" src="assets/will.jpg" />
  </ion-thumbnail>
    <ion-label>Roberto Carlo</ion-label>
  </ion-item>
  <ion-item>
  <ion-thumbnail slot="start">
    <img alt="Silhouette of mountains" src="assets/will.jpg" />
  </ion-thumbnail>
    <ion-label>Maria Antonieta</ion-label>
  </ion-item>
  <ion-item>
  <ion-thumbnail slot="start">
    <img alt="Silhouette of mountains" src="assets/will.jpg" />
  </ion-thumbnail>
    <ion-label>Juan Luis Guerra</ion-label>
  </ion-item>
  <ion-item>
  <ion-thumbnail slot="start">
    <img alt="Silhouette of mountains" src="assets/will.jpg" />
  </ion-thumbnail>
    <ion-label>Matias Reuque</ion-label>
  </ion-item>
  <ion-item>
  <ion-thumbnail slot="start">
    <img alt="Silhouette of mountains" src="assets/will.jpg" />
  </ion-thumbnail>
    <ion-label>Diego Aguayo</ion-label>
  </ion-item>
  <ion-item>
  <ion-thumbnail slot="start">
    <img alt="Silhouette of mountains" src="assets/will.jpg" />
  </ion-thumbnail>
    <ion-label>Luis Fonsi</ion-label>
  </ion-item>
  <ion-item>
  <ion-thumbnail slot="start">
    <img alt="Silhouette of mountains" src="assets/will.jpg" />
  </ion-thumbnail>
    <ion-label>Wacoldo Barros</ion-label>
  </ion-item>
  <ion-item>
  <ion-thumbnail slot="start">
    <img alt="Silhouette of mountains" src="assets/will.jpg" />
  </ion-thumbnail>
    <ion-label>Peter Parker</ion-label>
  </ion-item>
  <ion-item>
  <ion-thumbnail slot="start">
    <img alt="Silhouette of mountains" src="assets/will.jpg" />
  </ion-thumbnail>
    <ion-label>Bruce Wayne</ion-label>
  </ion-item>
</ion-list>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">



<!-- 
botones de abajo -->


    <ion-tab-button tab="speakers" routerLink="/home">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" routerLink="/viaje">
      <ion-icon name="map"></ion-icon>
      <ion-label>Viaje</ion-label>
    </ion-tab-button>



    <ion-tab-button tab="schedule" routerLink="/chat">
      <ion-icon name="paper-plane-outline"></ion-icon>
      <ion-label>Chat</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>