<ion-header>
  <ion-toolbar color="primary">
    <ion-text slot="end">
      <ion-tab-button tab="home" routerLink="/cuenta" > 
        <h3>{{username}}</h3>
      </ion-tab-button>
      
    </ion-text>
    <ion-icon slot="end" name="happy-outline" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--cargar pagina------------------------------------------------------------------------------>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <!-------Buscador de pagina------------------------------------------------------------------------------>

  <ion-searchbar ></ion-searchbar>

  <!-- <ion-searchbar placeholder="Buscar" animated (ionChange)="searchCustomer ($event)" ></ion-searchbar> -->

  <!-------Viajes disponibles------------------------------------------------------------------------------>

<ion-card>
  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="assets/will.jpg" />
    </ion-thumbnail>
      <ion-label>Maria Antonieta</ion-label>
      <ion-label>Viaja:</ion-label>
      <ion-label>Precio:</ion-label>
      <ion-button expand="block" fill="clear" shape="round">
        Reservar
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="assets/will.jpg" />
      </ion-thumbnail>
        <ion-label>Matias Reuque</ion-label>
        <ion-label>Viaja:</ion-label>
        <ion-label>precio:</ion-label>
        <ion-button expand="block" fill="clear" shape="round">
          Reservar
        </ion-button>
      </ion-item>

</ion-card>



<!---------------------- botones de abajo ---------------------------->

<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">

    <ion-tab-button tab="speakers" routerLink="/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" routerLink="/viaje">
      <ion-icon name="map"></ion-icon>
      <ion-label>Viaje</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="schedule" routerLink="/conductor">
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Conductor</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
</ion-content>





