<ion-header>
  <ion-toolbar color="primary">
    <ion-text slot="end">
      <ion-tab-button tab="home" routerLink="/cuenta" > 
        <h5>{{username}}</h5>
      </ion-tab-button>
      
    </ion-text>
    <ion-icon slot="end" name="happy-outline" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-text color="primary" class="ion-text-center">
        <h3 class="animate__animated animate__backInLeft">A Donde quieres ir?</h3>
    </ion-text>

<ion-card  class="ion-padding">
  <ion-item>
    <ion-label position="floating">¿Donde te encuentras?</ion-label>
    <ion-input  required type="text" ></ion-input>
  </ion-item>

    <ion-list>
      <ion-item>
        <ion-select interface="popover" placeholder="¿Donde quieres ir?">
          <ion-select-option value="apples">Concepcion</ion-select-option>
          <ion-select-option value="oranges">Hualpen</ion-select-option>
          <ion-select-option value="bananas">Talcahuano</ion-select-option>
          <ion-select-option value="bananas">Chiguayante</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input required type="number">$ </ion-input>
    </ion-item>
</ion-card>

</ion-content>





<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">
<!-- 
botones de abajo -->


    <ion-tab-button tab="speakers" routerLink="/home">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" routerLink="/viaje">
      <ion-icon name="map"></ion-icon>
      <ion-label>Viaje</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="schedule" routerLink="/chat">
      <ion-icon name="paper-plane-outline"></ion-icon>
      <ion-label>Chat</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>