<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" defaultHref="home" text="Configuración de Cuenta"></ion-back-button>
    </ion-buttons>
    
</ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
          <img src="assets/will.jpg" />
          

<ion-item>
  <ion-icon name="person-sharp"></ion-icon>
  <ion-label></ion-label>
  <ion-input value="Will Smith"></ion-input>
</ion-item>
<ion-item>
  <ion-icon name="calendar-outline"></ion-icon>
  <ion-label></ion-label>
  <ion-input type="bday" value="25/09/1968"></ion-input>
</ion-item>
<ion-item>
  <ion-icon name="mail-outline"></ion-icon>
  <ion-label></ion-label>
  <ion-input type="email" value="willsmith@gmail.com"></ion-input>
</ion-item>
<ion-item>
  <ion-icon name="business-outline"></ion-icon>
  <ion-label></ion-label>
  <ion-input value="Concepción"></ion-input>
</ion-item>

  </ion-card>

</ion-content>
