<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/loginpage"></ion-back-button>
    </ion-buttons>
    <ion-title>Restaurar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <ion-text color="primary">
    <h3>Ingresa usuario</h3>
  </ion-text>
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input required type="text" name="user"  ></ion-input>
  </ion-item>

  <br>
  <ion-text color="primary" class="ion-text-center ion-margin-top" 
  routerLink="/newcontra">
    <p>Confirmar</p>
  </ion-text>

  <ion-text color="primary" class="ion-text-center ion-margin-top" 
  routerLink="/loginpage">
    <p>Ya me Acorde</p>
  </ion-text>
</ion-content>
